ul {
	list-style-type: none;
}

.tabs-nav {
	display: flex;
}

.tabs-nav-item {
    background-color: var(--lighter-grey);
    padding: var(--tiny-space);
}

.tabs-nav-item:hover {
    background-color: var(--light-grey);
}
