.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--small-space);
}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}