footer {
	position: fixed;
	bottom: 0;
	background-color: var(--lighter-grey);
	padding: var(--extra-small-space);
	display: flex;
	justify-content: start;
	align-items: center;
	min-height: min-content;
	width: 100%;
}

.logo-container {
	display: flex;
	gap: var(--extra-small-space);
}

.logo {
	max-width: var(--medium-space);
}
