.rnd-container {
	padding: 2px;
	border-radius: var(--border-radius);
	border: var(--thinnest-border);
	background-color: var(--lightest-grey);
	min-width: min-content;
	overflow: hidden;
	box-shadow: 5px;
	-webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.window-content {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: var(--small-space);
	padding: var(--small-space);
}

.striped-background,
.resize-handle {
	background-image: linear-gradient(
		135deg,
		var(--lightest-grey) 25%,
		var(--lighter-grey) 25%,
		var(--lighter-grey) 50%,
		var(--lightest-grey) 50%,
		var(--lightest-grey) 75%,
		var(--lighter-grey) 75%,
		var(--lighter-grey) 100%
	);
	background-size: 5px 5px;
}

.drag-handle {
	cursor: move;
}
